.cities {
  position: relative;
  width: 90%;
  margin: auto;
  padding: 0.5em 0;
  border-bottom: 1px solid rgb(214, 214, 214);
}

.cities-list {
  width: 83%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  font-weight: lighter;
}

.cities-item {
  display: inline-block;
  position: relative;
  font-size: 1em;
  color: rgb(145, 145, 145);
  cursor: default;
  transition: all 0.1s ease-in-out;
  width: fit-content;
}

.cities-item:hover {
  color: rgb(82, 143, 196);
  cursor: pointer;
}

.cities-item--active:hover {
  color: black;
  cursor: default;
}

.cities-item--active {
  color: black;
}

.cities-item--active .cities-time {
  color: #505050;
}

.cities-time {
  position: absolute;
  left: 0;
  top: -1.2em;
  font-size: 0.6em;
  pointer-events: none;
  cursor: default;
}

.underline {
  position: absolute;
  bottom: -0.5px;
  height: 1px;
  background-color: black;
  transition: all 0.35s ease-out;
}
