@font-face {
  font-weight: lighter;
  font-family: 'SF Pro';
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/SFProDisplay-Light.woff2') format('woff2'),
    url('../../fonts/SFProDisplay-Light.woff') format('woff');
}
